body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
}

/* LOGIN */
.login-body {
  background: linear-gradient(120deg, #a18cd1, #fbc2eb);
}
.login-card {
  background: #fff;
  max-width: 380px;
}

/* PORTAL */
.portal-body {
  background: linear-gradient(to right, #d7d2cc, #304352);
  color: #fff;
}

.ad-card {
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}
.ad-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.3);
}
